body {
    background-color: #EEEEEE;
}

h2 {
  color: #364e96;/*文字色*/
  padding: 0.5em 0;/*上下の余白*/
  border-top: solid 3px #364e96;/*上線*/
  border-bottom: solid 3px #364e96;/*下線*/
}

.title {
	font-size:3em;
	text-align:left;
	position: relative;
	line-height:0.95em;
	font-weight:bold;
	color: #fffff0;
	text-shadow: 
		0 0.05em 0.08em rgba(0,0,0,0.7);
}

/*h1 {*/
/*	font-size:5em;*/
/*	text-align:center;*/
/*	line-height:0.95em;*/
/*	font-weight:bold;*/
/*	color: transparent;*/
/*	background: repeating-linear-gradient( -45deg, #FF3D00 0% 50%, #0091EA 50%*/
/*		 100% );*/
/*	-webkit-background-clip: text;*/
/*}*/

/*h1 {*/
/*	font-size:5em;*/
/*	text-align:center;*/
/*	line-height:0.95em;*/
/*	font-weight:bold;*/
/*	color: transparent;*/
/*	background: linear-gradient( 45deg, #DD2C00 0% 40%, #01579B 60% 100% );*/
/*	-webkit-background-clip: text;*/
/*}*/
.use {
    text-align:right;
    position: absolute;
    left:  1280px;
    top: 20px;  
}

.use a.login {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #AAAAAA;
    border-right: solid 4px #AAAAAA;
    color: #444444;
    background: #FFFFEE;
    transition: .4s;
}

.use a.login:hover {
    background: #668ad8;
    color: #FFF;
}

.use a.register {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #AAAAAA;
    border-right: solid 4px #AAAAAA;
    color: #444444;
    background: #FFFFEE;
    transition: .4s;
}

.use a.register:hover {
  background: #668ad8;
  color: #FFF;
}

.shops {
    font-family: sans-serif;
}