body {
    background-color: #EEEEEE;
}

.title {
	font-size:3em;
	text-align:left;
	position: relative;
	line-height:0.95em;
	font-weight:bold;
	color: #fffff0;
	text-shadow: 
		0 0.05em 0.08em rgba(0,0,0,0.7);
}

.content a.edit {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.content a.edit:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

#add {
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  margin-bottom: 50px;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
#add:active {
  /*ボタンを押したとき*/
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.2);/*影を小さく*/
  border-bottom: none;
}

.logout a {
  position: relative;
  display: inline-block;
  font-weight: bold;
  padding: 0.25em 0.5em;
  margin-top: 50px;
  text-decoration: none;
  color: #EEEEEE;
  background: #AAAAAA;
  transition: .4s;
}

.logout a:hover {
  background: #00bcd4;
  color: white;
}

.footer a{
  padding: 7px 20px;
  border-radius: 25px;
  margin-top: 50px;
  text-decoration: none;
  color: #FFF;
  background-image: linear-gradient(45deg, #000080 0%, 	#0000AA 100%);
  transition: .4s;
}

.footer a:hover{
  background-image: linear-gradient(45deg, #FFC107 0%, #f76a35 100%);
}

.Image{
  width: 500px;
}

.use {
    text-align:right;
    position: absolute;
    left:  1280px;
    top: 20px;  
}

.use a.login {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #AAAAAA;
    border-right: solid 4px #AAAAAA;
    color: #444444;
    background: #FFFFEE;
    transition: .4s;
}

.use a.login:hover {
    background: #668ad8;
    color: #FFF;
}

.use a.register {
    position: relative;
    display: inline-block;
    font-weight: bold;
    padding: 0.5em 1em;
    text-decoration: none;
    border-left: solid 4px #AAAAAA;
    border-right: solid 4px #AAAAAA;
    color: #444444;
    background: #FFFFEE;
    transition: .4s;
}

.use a.register:hover {
  background: #668ad8;
  color: #FFF;
}